@{
    ViewData["Title"] = "Home Page";
    List<Result> Characters = ViewBag.Characters;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (Result character in Characters)
    {
        <div>@character.id.ToString()</div>
    }
</div>
