@{
    ViewData["Title"] = "Home Page";
}

<div class="category-list">
    <div class="category">
        <h2>
            Characters
        </h2>
        <img onclick="location.href='/Home/AllCharacter'" src="https://rickandmortyapi.com/api/character/avatar/1.jpeg"/>
    </div>
    <div class="category">
        <h2>
            Locations
        </h2>
        <img onclick="location.href='/Home/AllLocation'" src="https://rickandmortyapi.com/api/character/avatar/99.jpeg"/>
    </div>
</div>

<style>
    .category-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .category {
        text-align: center;
        margin-bottom: 50px;
    }
</style>